{
    margin: 0;
    padding: 0;
}
h1 {
    margin-bottom: 30px;
    text-align: center;
}

h2{
    margin-top: 250px;
}

h4, h6 {
    margin-bottom: 30px;
}

ul {
    margin-bottom: 30px;
    margin-left: 40px;
    list-style-type: disc;
}

.last-text{
    font-style: italic;
}

.block .main-img img {
    height: 195px;
}

.block .main-img .logo-img {
    /*display: inline;*/
}

.block .main-text .main-text-ct {
    width: auto;
    height: 30px;
}

.block-top {
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    height: auto;
}

.block-top > * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.main-text {
    border-radius: 20px;
    padding: 10px;
    align-items: baseline;
    border: 1px dashed #212529;
}

.block-number {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*border: 1px solid #212529;*/
}

.block-number > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
}

.block__website {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.icon{
    margin: 10px;
    padding-right: 10px;
}

.review{
    margin-top: 100px;
    border-style: solid;
}

.comment-div{
    display: flex;
}
.com-text{
    display: flex;
}

.submit{
    margin-top: 20px;
}






